.toolbar {
  display: flex;
  justify-content: center;
  /* background-color: rgb(2, 126, 126); */
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  height: 50px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}


.searchIcon {
  align-self: center;
  padding-top: 5px;
  padding-right: 5px;
}


