/* styles.module.css */
.container {
  padding: 25px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.list {
  height: 75vh;
  overflow: auto;
}

div::-webkit-scrollbar{
  display: none;
}