/* .menu_section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap:20px;
  background-image: linear-gradient(to right, #ece5f8, #e1ebff, #d8f1ff, #d4f6fb, #d8faf2);

} */
